{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byte Chat | Home</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <div class="App">
      <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-white p-2">

            <a href="{% url 'home' %}" class="navbar-brand">
              <img src="https://logodix.com/logo/1075535.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
            </a>
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse ml-auto home-navbar" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item"><a href="/Github" data-rr-ui-event-key="/Github" class="nav-link">Github</a></li>
                <li class="nav-item"><a href="/" data-rr-ui-event-key="/" class="nav-link">Support</a></li>
                <li class="nav-item open-app"><a href="{% url 'chat' %}" data-rr-ui-event-key="/Chat" class="nav-link">Open App</a></li>
              </ul>
            </div>
         </nav>
        </header>

        <div id="section-1">
          <img src="/static/images/planet.png" id="first-fantasy" class="fantasy-img" alt="planet">
          <a id="launch-btn" class="btn btn-light" href="{% url 'chat' %}" role="button">Open App</a>
          <a id="github-btn" class="btn btn-light" href="https://github.com/JustinStar-py/chat-by-blockchain">See in Github</a>
        </div>
        <div id="section-2">
          <img src="/static/images/github.png" id="secend-fantasy" class="fantasy-img" alt="planet">
        </div>
        <div id="section-3">
          <img src="/static/images/lock.png" id="third-fantasy" class="fantasy-img" alt="planet">
        </div>
      </div>
</body>
<script src="{% static 'js/hoverAnime.js' %}"></script>
</html>