@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lobster&family=Noto+Sans+Display:ital,wght@1,900&family=Play:wght@400;700&family=Righteous&family=Russo+One&display=swap');

body {
    background-color: #100f0d !important;
}

.App {
  text-align: center;
}

#section-1 {
  background: url("./images/bg.png");
  background-size: contain;
  height: 830px;
  background-repeat: repeat-x;
  margin: 50px 85px 40px 85px;
}

#section-2 {
  background: url("./images/bg.png");
  background-size: contain;
  height: 830px;
  background-repeat: repeat-x;
  margin: 50px 85px 40px 85px;
}

#fantasy-main {
  width: 475px;
  position: relative;
  left: 285px;
  top: 180px;
  transform: rotateZ(30deg);
  z-index: -10;
}

#launch-btn {
  position: relative;
  width: 200px;
  font-family: "Play";
  right: 43rem;
  top: 230px;
}