@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lobster&family=Noto+Sans+Display:ital,wght@1,900&family=Play:wght@400;700&family=Righteous&family=Russo+One&display=swap');

body {
    overflow-x: hidden;
}

.App {
  background-color: rgb(24, 25, 25) !important;
  text-align: center;
}

nav {
  font-family: "Play";
}

#basic-navbar-nav #home-navbar {
    margin-right: auto;
    margin-left: auto;
}

#basic-navbar-nav #chat-navbar w3m-core-button{
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 480px) {
  #section-1 {
    background: url("./images/bg.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 85px;
    /* z-index: -9; */
  }
  
  #section-2 {
    background: url("./images/bg-2.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 25px;
  }
  
  #section-3 {
    background: url("./images/bg-3.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 85px;
  }
  
  #first-fantasy {
    width: 850px;
    position: relative;
    left: 505px;
    top: 200px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #secend-fantasy {
    width: 400px;
    position: relative;
    right: 405px;
    top: 130px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #third-fantasy {
    width: 350px;
    position: relative;
    left: 305px;
    top: 200px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #launch-btn {
    position: relative;
    width: 225px;
    font-family: "Righteous";
    right: 54.5rem;
    top: 35%;
  }
  
  #github-btn {
    position: relative;
    width: 225px;
    font-family: "Righteous";
    right: 53.5rem;
    top: 35%;
  }

}
