@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lobster&family=Noto+Sans+Display:ital,wght@1,900&family=Play:wght@400;700&family=Righteous&family=Russo+One&display=swap');

body {
    overflow-x: hidden;
    background: url(./images/body-bg.jpg);
    /* background-size: 600px; */
    /* filter: drop-shadow(10px); */
    background-size: cover;
    background-attachment: fixed;
    filter: hue-rotate(25deg);
}

.App {
  /* background: url(https://images.wallpaperscraft.com/image/single/sky_stars_long_exposure_944443_3840x2160.jpg) !important; */
  background: linear-gradient(120deg,rgb(21 21 21 / 38%),rgb(0 0 0 / 17%) 95%);
  backdrop-filter: blur(3px);
  text-align: center;
  background-size: 1600px !important;
  background-attachment:fixed !important;
  background-repeat: repeat-x !important;
}

nav {
  font-family: "Play";
}

#basic-navbar-nav #home-navbar {
    margin-right: auto;
    margin-left: 0px;
}

#basic-navbar-nav #chat-navbar w3m-core-button {
  position: absolute;
  right: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light {
  position: relative;
  top: 15px;
  background: url(./images/bg-rounded.png);
  /* background: linear-gradient(rgb(246, 246, 246),rgb(247, 254, 255)); */
  background-size: cover;
  border-radius: 12px;
  background-repeat: no-repeat;
  /* filter: invert(1); */
  background-position: top;
  margin: 0px 10px;

}

a.nav-link {
  font-family: 'Righteous';
  color: rgb(75, 75, 75);
  font-size: 17px;
  transition: 0.2s ease-in-out;
  padding:5px;
  /* border-right: 6.5px dotted rgba(54, 54, 54, 0.5); */
  /* text-shadow: 1px 1px 10px rgb(119, 255, 255); */
}

a.nav-link:hover {
  font-family: 'Righteous';
  color: rgb(0, 0, 0);
  font-size: 22px;
  /* text-shadow: 1px 1px 10px rgb(232, 255, 253); */
}



@media screen and (min-width: 480px) {
  #section-1 {
    background: url("./images/bg.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 85px;
    /* z-index: -9; */
  }
  
  #section-2 {
    background: url("./images/bg-2.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 25px;
  }
  
  #section-3 {
    background: url("./images/bg-3.png");
    background-size: contain;
    height: 830px;
    background-repeat: repeat-x;
    margin: 0px 85px 40px 85px;
  }
  
  #first-fantasy {
    width: 850px;
    position: relative;
    left: 505px;
    top: 200px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #secend-fantasy {
    width: 400px;
    position: relative;
    right: 405px;
    top: 130px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #third-fantasy {
    width: 350px;
    position: relative;
    left: 305px;
    top: 200px;
    transform: rotateZ(30deg);
    /* z-index: -10; */
  }
  
  #launch-btn {
    position: relative;
    width: 225px;
    font-family: "Righteous";
    right: 54.5rem;
    top: 35%;
  }
  
  #github-btn {
    position: relative;
    width: 225px;
    font-family: "Righteous";
    right: 53.5rem;
    top: 35%;
  }

}
